*.php text eol=lf diff=php export-subst
** export-ignore
/composer.json -export-ignore
/src/** -export-ignore
/src/ -export-ignore
/data/** -export-ignore
/data/ -export-ignore
/scripts/** -export-ignore
/scripts/ -export-ignore
